<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8">
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Blog Feed" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Blog Feed" />
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My Ramblings about random things.">
    <meta name="author" content="Dustin Chilson">
    
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/site.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono|Roboto:400,700,300italic">
    <link rel="shortcut icon" href="/img/favicon.ico" /> 
    
    {% if page.category == 'blog' %} 
    <meta property="og:type" content="article">
    {% if page.photo %}
    <meta property="og:image" content="https://dustinchilson.com/img/posts/{{ page.photo }}" /> 
    {% endif %} 
    {% endif %} 

    {{ page.extra_head }}
</head>

<body>
    <div class="header-container">
        <header class="inner">
            <nav>
                <a class="{% if page.category == 'home' %} selected {% endif %}" href="/">Home</a>
                <!-- <a class="{% if page.category == 'portfolio' %} selected {% endif %}" href="/portfolio/">Portfolio</a> -->
                <a class="{% if page.category == 'blog' %} selected {% endif %}" href="/blog/">Blog</a>
                <a href="https://github.com/dustinchilson" target="_blank">Github</a>
            </nav>
            <div class="pull-right right logo">
                <div class="name">
                    <a href="/">Dustin Chilson</a>
                    <br />
                    <small>
                    <em>
                        Senior Software Developer at <a href="http://www.salespad.net" target="_blank">SalesPad</a>
                    </em>
                  </small>
                </div>
                <img class="avatar" src="https://www.gravatar.com/avatar/47f866aceadc00182d823913aea7fe71.jpg?s=80" width="80px" height="80px" alt="My profile picture" />
            </div>
            <div class="clear"></div>
        </header>
        <div class="clear"></div>
    </div>
    {{content}}
    <div class="separator"></div>
    <div style="border-bottom: 1px solid #ddd"></div>
    <footer>
        <p>
            Made with <a href="https://github.com/Code52/pretzel">Pretzel</a>, hosted on <a href="https://github.com/dustinchilson/dustinchilson.com">Github Pages</a>.
        </p>
        <ul class="links">
            <li>
                <a href="https://github.com/dustinchilson" title="See my code on GitHub">
                    <i class="icon-github"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/intent/follow?screen_name=dustinchilson" title="Follow me on Twitter">
                    <i class="icon-twitter"></i>
                </a>
            </li>
        </ul>
    </footer>

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-68632550-1']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = 'https://ssl.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })();
    /*!
     * http://github.com/ssaunier/track-outbound-links
     * Copyright 2013 Sébastien Saunier
     * @license MIT
     */
    ! function(e, t) {
        function n() {
            for (var n = t.getElementsByTagName("a"), a = [], r = 0; r < n.length; ++r) {
                var o = n[r];
                o.host != e.location.host && a.push(o)
            }
            return a
        }

        function a(n) {
            for (var a = n.srcElement || n.target; a && ("undefined" == typeof a.tagName || "a" != a.tagName.toLowerCase() || !a.href);) a = a.parentNode;
            a && a.href && (e._gaq && _gaq.push(["_trackEvent", "Outbound link", "Click", a.href]), (!a.target || a.target.match(/^_(self|parent|top)$/i)) && (setTimeout(function() {
                t.location.href = a.href
            }, 150), n.preventDefault ? n.preventDefault() : n.returnValue = !1))
        }
        e.addEventListener("load", function() {
            var e = n();
            for (var t in e) e[t].addEventListener("click", a)
        })
    }(window, document);
    var links = document.links;
    for (var i = 0, linksLength = links.length; i < linksLength; i++) {
        if (links[i].hostname != window.location.hostname) {
            links[i].target = '_blank';
        }
    }
    /*
     * Detect if we are included in an iframe => move.
     */
    if (window.top !== window.self && !window.self.location.href.match(/headsha\.re/)) {
        window.top.location.replace(window.self.location.href);
    }
    </script>
</body>

</html>
